/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: white;
      height: 40%;
      margin: 2%;
      text: black;
      border: 2px solid Black;
    }
    img{
      width: 32%;
    }
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
      margin-top: 2%;
      text-align: center;
      border: 2px solid blue;
      width: 100%;
      bottom: 0; 
      position: absolute;
    }
    body{
      background:white;
    }
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: 10%;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  